storage:
  dbPath: {{ mongodb_data_path }}

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: 27017
  bindIp: {{ '0.0.0.0' if mongodb_bind_public else '127.0.0.1' }}

security:
  authorization: {{ 'enabled' if mongodb_authorization else 'disabled' }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo
